html, body {
  width: auto;
  background-color: red;

}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

#popup-success{
  color:black;
  background-color: red;
}

#login{
  display: none;
}

#login-form{
  display:none;
}

